.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  background-color: aqua;
  width: 100%;
  color: black;
  padding: 10px;
  font-weight: bold;
}
.form{
  margin-top: 10px;
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}
.list1{
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: white;
  padding: 0px 10px 0px 10px;
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.list{
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0px 10px 0px 10px;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.remove{
  margin: 5px;
  background-color: red;
  border-radius: 7px;
  border: none;
}